---
---
@import "{{ site.theme }}";

body, p, li, td {
  font-weight: 500 !important; 
}

h1, h2, h3, h4, h5, h6, th {
  font-weight: 700 !important; 
}

#main_content {
  max-width: 80%; 
  margin: 0 auto;   
}
